body{
    font-family: sans-serif;
    color: #cacaca;
    background-color: #1a1a1a;
}

h1 {
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    color:rgb(206, 117, 0);
    margin-bottom: -20px;
}

h3{
    padding-top: 20px;
}

main{
    padding: 200px;
    padding-top: 20px;;
}

b{
    color: #ffffff;
    text-decoration: underline;
}

p img {
    display: block;
    margin: auto;
    box-shadow: 0 0 6px 6px #000000;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

p code {
    display: block;
    padding: 16px;
    background-color: #2d2d2d;
    color: #f8f8f2;
    border-radius: 6px;
    font-size: 1em;
    border: none;
    white-space: nowrap;
    overflow: auto;
}

p {
    box-shadow: 0 0 4px 2px #272727;
    padding: 20px;
    line-height: 2;
}

a{
    text-decoration: none;
    color: #ffffff;
}

nav {
    border-bottom: 1px solid rgb(155, 155, 155);
}

nav ol {
    list-style-type: none;
    padding-top: 10px;
}

nav ol li {
    display: inline-block;
}

nav ol li a {
    color: rgb(42, 152, 255);
    text-decoration: none;
}

nav ol li a::after {
    display: inline-block;
    color: #ffffff;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 10px;
}